:root {
  --green: #2e7d32;
  --light: #f1f8e9;
  --dark: #1b5e20;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: var(--light);
}

header {
  background: var(--green);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#searchInput {
  padding: 8px;
  border-radius: 6px;
  border: none;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px); /* fixed width */
  gap: 15px;
  justify-content: start; /* align left */
}


.card {
  background: white;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
  text-align: center;
  transition: .2s;

  height: 260px;          
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 110px;          
  object-fit: contain;
}


button {
  background: var(--green);
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: var(--dark);
}

.cart-section {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

.bill {
  margin-top: 15px;
}

.empty {
  text-align: center;
  color: gray;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--green);
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  opacity: 0;
  transition: .4s;
}

.toast.show {
  opacity: 1;
}
